asgiref==3.2.7
Django==3.0.5
django-cities==0.6
django-countries==6.1.2
django-crispy-forms==1.9.1
django-formhelper==0.2
django-model-utils==4.0.0
gunicorn==20.0.4
Pillow==8.1.1
psycopg2==2.8.5
pycodestyle==2.5.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
swapper==1.1.2.post1
tqdm==4.46.0
